In [216]:
import re
import pandas as pd

In [217]:
file = input("Enter your relative filepath : ")
columnName = input("Enter the exact name of the column which contains postal codes : ")

In [218]:
df = pd.read_csv(file)

In [219]:
first_letter = 'abceghjklmnprstvxy'
valid_letters = 'abceghjklmnprstvwxyz'
valid_nums = '0123456789'
alphPlace = [0,2,4]
numPlace = [1,3,5]

In [220]:
df[columnName] = df[columnName].str.lower().str.replace(' ','')
df

   postalCodes
0       k0e1x0
1       koe1x0
2       k0e1xo
3       koe1xo
4       k0e1x0
5       koe1x0
6       k0e1xo
7       koe1xo
8       w0e1xo
9       k0e1o0
10      k0eox0

In [221]:
cleanedCode = []
invalidCode = []
for currentIndex in df.index:                   # loop through rows of the data and assign postal codes to list
    code = df.loc[currentIndex, columnName]     # assign current postal code to variable
    if (len(code) != 6):                        # check if length of postal code matches A1A1A1 format
        cleanedCode.insert(currentIndex, "")
        invalidCode.append("Invalid length")
    elif (not code[5] in valid_nums):           #check last character is a number
        if (code[5] == "o"):                    # common error letter "o" replaced with "0"
            code = ("").join([c.replace('o','0') for c in code])
            cleanedCode.insert(currentIndex, code)
            invalidCode.append("Sixth character must be number")
    elif (not code[4] in valid_letters):        # check if fifth character is a valid letter
        cleanedCode.insert(currentIndex, "")
        invalidCode.append("Fifth character must be a valid letter")
    elif (not code[3] in valid_nums):           # similar to above, check fourth character is a valid number
        if (code[3] == "o"):
            code = "".join([c.replace('o','0') for c in code])
            cleanedCode.insert(currentIndex, code)
            invalidCode.append("Fourth character must be number")
    elif (not code[2] in valid_letters):        # check if third character is a valid letter
        cleanedCode.insert(currentIndex, "")
        invalidCode.append("Third character must be a valid letter")
    elif (not code[1] in valid_nums):           # check if second character is a valid number
        if (code[1] == "o"):
            code = "".join([c.replace('o','0') for c in code])
            cleanedCode.insert(currentIndex, code)
            invalidCode.append("Second character must be number")
    elif (not code[0] in valid_letters):         # check if first character is a valid letter
        cleanedCode.insert(currentIndex, "")
        invalidCode.append("First character must be a valid letter") 
    elif (not code[0] in first_letter):
        cleanedCode.insert(currentIndex, "")
        invalidCode.append("First cannot be 'w' or 'z'") 
    else:        
        cleanedCode.append(code)
        invalidCode.append("")

print(cleanedCode)

df['cleanedCode'] = cleanedCode
df['invalidCode'] = invalidCode
df

['k0e1x0', 'k0e1x0', 'k0e1x0', 'k0e1x0', 'k0e1x0', 'k0e1x0', 'k0e1x0', 'k0e1x0', 'w0e1x0', '', 'k0e0x0']

   postalCodes cleanedCode                             invalidCode
0       k0e1x0      k0e1x0
1       koe1x0      k0e1x0         Second character must be number
2       k0e1xo      k0e1x0          Sixth character must be number
3       koe1xo      k0e1x0          Sixth character must be number
4       k0e1x0      k0e1x0
5       koe1x0      k0e1x0         Second character must be number
6       k0e1xo      k0e1x0          Sixth character must be number
7       koe1xo      k0e1x0          Sixth character must be number
8       w0e1xo      w0e1x0          Sixth character must be number
9       k0e1o0              Fifth character must be a valid letter
10      k0eox0      k0e0x0         Fourth character must be number

In [222]:
cleanedCode2 = []
invalidCode2 = []
columnName = "cleanedCode"
for currentIndex in df.index: #loop through rows of the data and assign postal codes to list
    code = df.loc[currentIndex, columnName] # assign current postal code to variable
    if (len(code) != 6): # check if length of postal code matches A1A1A1 format
        cleanedCode2.insert(currentIndex, "")
        invalidCode2.append("Invalid length")
    elif (not code[5] in valid_nums): #check last character is a number
        if (code[5] == "o"): #common error letter "o" replaced with "0"
            code = ("").join([c.replace('o','0') for c in code])
            cleanedCode2.insert(currentIndex, code)
            invalidCode2.append("Sixth character must be number")
    elif (not code[4] in valid_letters): # check if fifth character is a valid letter
        cleanedCode2.insert(currentIndex, "")
        invalidCode2.append("Fifth character must be a valid letter")
    elif (not code[3] in valid_nums): # similar to above, check fourth character is a valid number
        if (code[3] == "o"):
            code = "".join([c.replace('o','0') for c in code])
            cleanedCode2.insert(currentIndex, code)
            invalidCode2.append("Fourth character must be number")
    elif (not code[2] in valid_letters): # check if third character is a valid letter
        cleanedCode2.insert(currentIndex, "")
        invalidCode2.append("Third character must be a valid letter")
    elif (not code[1] in valid_nums):       # check if second character is a valid number
        if (code[1] == "o"):
            code = "".join([c.replace('o','0') for c in code])
            cleanedCode2.insert(currentIndex, code)
            invalidCode2.append("Second character must be number")
    elif (not code[0] in valid_letters):         # check if first character is a valid letter
        cleanedCode2.insert(currentIndex, "")
        invalidCode2.append("First character must be a valid letter") 
    elif (not code[0] in first_letter):
        cleanedCode2.insert(currentIndex, "")
        invalidCode2.append("First character cannot be 'w' or 'z'") 
    else:        
        cleanedCode2.append(code)
        invalidCode2.append("")


print(cleanedCode2)
df['cleanedCode2'] = cleanedCode2
df['invalidCode2'] = invalidCode2
df

['k0e1x0', 'k0e1x0', 'k0e1x0', 'k0e1x0', 'k0e1x0', 'k0e1x0', 'k0e1x0', 'k0e1x0', '', '', 'k0e0x0']

,postalCodes,cleanedCode,invalidCode,cleanedCode2,invalidCode2
0,k0e1x0,k0e1x0,,k0e1x0,
1,koe1x0,k0e1x0,Second character must be number,k0e1x0,
2,k0e1xo,k0e1x0,Sixth character must be number,k0e1x0,
3,koe1xo,k0e1x0,Sixth character must be number,k0e1x0,
4,k0e1x0,k0e1x0,,k0e1x0,
5,koe1x0,k0e1x0,Second character must be number,k0e1x0,
6,k0e1xo,k0e1x0,Sixth character must be number,k0e1x0,
7,koe1xo,k0e1x0,Sixth character must be number,k0e1x0,
8,w0e1xo,w0e1x0,Sixth character must be number,,First character cannot be 'w' or 'z'
9,k0e1o0,,Fifth character must be a valid letter,,Invalid length
10,k0eox0,k0e0x0,Fourth character must be number,k0e0x0,

In [223]:
newCodes = []
for c in cleanedCode2:
    c = f"{c[:3]} {c[3:]}"
    # print(c)
    newCodes.append(c)
df['cleanPostalCodes'] = newCodes
df['cleanPostalCodes'] = df['cleanPostalCodes'].str.upper()
df = df.drop(['cleanedCode','invalidCode','cleanedCode2'], axis=1)
df = df[['postalCodes','cleanPostalCodes','invalidCode2']]
df.rename(columns = {'invalidCode2': 'invalidMessage'}, inplace = True)
df

   postalCodes cleanPostalCodes                        invalidMessage
0       k0e1x0          K0E 1X0
1       koe1x0          K0E 1X0
2       k0e1xo          K0E 1X0
3       koe1xo          K0E 1X0
4       k0e1x0          K0E 1X0
5       koe1x0          K0E 1X0
6       k0e1xo          K0E 1X0
7       koe1xo          K0E 1X0
8       w0e1xo                   First character cannot be 'w' or 'z'
9       k0e1o0                                         Invalid length
10      k0eox0          K0E 0X0