In [2]:
import re
import pandas as pd

In [3]:
file = input("Enter your relative filepath : ")

In [4]:
df = pd.read_csv(file)
print(df.dtypes)
df

postalCodes    object
dtype: object

  postalCodes
0     K0E1X0
1      KOE1X0
2      K0E1XO
3     KoE1Xo
4     K0E 1X0
5     KOE 1X0
6     K0E 1XO
7     KoE 1Xo
8     w0e 1xo

In [5]:
for code in df['postalCodes']:
    print(len(code))

7
7
6
7
7
7
7
7
7

In [6]:
first_letter = 'abceghjklmnprstvxy'
valid_letters = 'abceghjklmnprstvwxyz'
valid_nums = '0123456789'
alphPlace = [0,2,4]
numPlace = [1,3,5]
# print(len(first_letter))
# print(len(valid_letters))

In [7]:
df['postalCodes'] = df.postalCodes.str.lower().str.replace(' ','')
df

  postalCodes
0      k0e1x0
1      koe1x0
2      k0e1xo
3      koe1xo
4      k0e1x0
5      koe1x0
6      k0e1xo
7      koe1xo
8      w0e1xo

In [8]:
for code in df['postalCodes']:
    print(len(code))

6
6
6
6
6
6
6
6
6

In [41]:
cleanedCode = []
invalidCode = []
for row in df.index: #loop through rows of the data and assign postal codes to list
    code = df.loc[row, "postalCodes"]
    if (len(code) != 6):
        cleanedCode.append("Invalid length")
    elif (not code[0] in first_letter):
        cleanedCode.append("Code cannot begin with 'w' or 'z'")
    elif (not code[0] in valid_letters):
        cleanedCode.append("First character must be a valid letter")
    elif (not code[1] in valid_nums):
        cleanedCode.append("Second character must be number")
    elif (not code[2] in valid_letters):
        cleanedCode.append("Third character must be a valid letter")
    elif (not code[3] in valid_nums):
        cleanedCode.append("Fourth character must be number")
    elif (not code[4] in valid_letters):
        cleanedCode.append("Fifth character must be a valid letter")
    elif (not code[5] in valid_nums):
        cleanedCode.append("Sixth character must be number")
    else:        
        cleanedCode.append(code)

df['cleanedPostalCodes'] = cleanedCode
df

  postalCodes                 cleanedPostalCodes
0      k0e1x0                             k0e1x0
1      koe1x0    Second character must be number
2      k0e1xo     Sixth character must be number
3      koe1xo    Second character must be number
4      k0e1x0                             k0e1x0
5      koe1x0    Second character must be number
6      k0e1xo     Sixth character must be number
7      koe1xo    Second character must be number
8      w0e1xo  Code cannot begin with 'w' or 'z'