In [161]:
import re
import pandas as pd

In [162]:
file = input("Enter your relative filepath : ")
columnName = input("Enter the exact name of the column which contains postal codes : ")

In [163]:
df = pd.read_csv(file)

In [164]:
first_letter = 'abceghjklmnprstvxy'
valid_letters = 'abceghjklmnprstvwxyz'
valid_nums = '0123456789'
alphPlace = [0,2,4]
numPlace = [1,3,5]

In [165]:
df[columnName] = df[columnName].str.lower().str.replace(' ','')
df

   postalCodes
0       k0e1x0
1       koe1x0
2       k0e1xo
3       koe1xo
4       k0e1x0
5       koe1x0
6       k0e1xo
7       koe1xo
8       w0e1xo
9       k0e1o0
10      k0eox0

In [192]:
cleanedCode = []
invalidCode = []
for currentIndex in df.index: #loop through rows of the data and assign postal codes to list
    code = df.loc[currentIndex, columnName] # assign current postal code to variable
    if (len(code) != 6): # check if length of postal code matches A1A1A1 format
        cleanedCode.insert(currentIndex, "")
        invalidCode.append("Invalid length")
    elif (not code[5] in valid_nums): #check last character is a number
        if (code[5] == "o"): #common error letter "o" replaced with "0"
            code = ("").join([c.replace('o','0') for c in code])
            cleanedCode.insert(currentIndex, code)
            invalidCode.append("Sixth character must be number")
    elif (not code[4] in valid_letters): # check if fifth character is a valid letter
        cleanedCode.insert(currentIndex, "")
        invalidCode.append("Fifth character must be a valid letter")
    elif (not code[3] in valid_nums): # similar to above, check fourth character is a valid number
        if (code[3] == "o"):
            code = "".join([c.replace('o','0') for c in code])
            cleanedCode.insert(currentIndex, code)
            invalidCode.append("Fourth character must be number")
    elif (not code[2] in valid_letters): # check if third character is a valid letter
        cleanedCode.insert(currentIndex, "")
        invalidCode.append("Third character must be a valid letter")
    elif (not code[1] in valid_nums):       # check if second character is a valid number
        if (code[1] == "o"):
            code = "".join([c.replace('o','0') for c in code])
            cleanedCode.insert(currentIndex, code)
            invalidCode.append("Second character must be number")
    elif (not code[0] in first_letter and not code[0] in valid_letters): # check if first character is a valid letter
        cleanedCode.insert(currentIndex, "")
        invalidCode.append("First character must be a valid letter and cannot begin with 'w' or 'z'") 
    else:        
        cleanedCode.append(code)
        invalidCode.append("")



newCodes = []
for c in cleanedCode:
    c = f"{c[:3]} {c[3:]}"
    print(c)
    newCodes.append(c)
df['cleanPostalCodes'] = newCodes
df['cleanPostalCodes'] = df['cleanPostalCodes'].str.upper()
df['invalidCodes'] = invalidCode
df

k0e 1x0
k0e 1x0
k0e 1x0
k0e 1x0
k0e 1x0
k0e 1x0
k0e 1x0
k0e 1x0
w0e 1x0

k0e 0x0

   postalCodes cleanPostalCodes                            invalidCodes
0       k0e1x0          K0E 1X0
1       koe1x0          K0E 1X0         Second character must be number
2       k0e1xo          K0E 1X0          Sixth character must be number
3       koe1xo          K0E 1X0          Sixth character must be number
4       k0e1x0          K0E 1X0
5       koe1x0          K0E 1X0         Second character must be number
6       k0e1xo          K0E 1X0          Sixth character must be number
7       koe1xo          K0E 1X0          Sixth character must be number
8       w0e1xo          W0E 1X0          Sixth character must be number
9       k0e1o0                   Fifth character must be a valid letter
10      k0eox0          K0E 0X0         Fourth character must be number