In [146]:
import re
import pandas as pd

In [152]:
file = input("Enter your relative filepath : ")

In [155]:
df = pd.read_csv(file)
print(df.dtypes)
df

postalCodes    object
dtype: object

  postalCodes
0      K0E1X0
1      KOE1X0
2      K0E1XO
3      KoE1Xo
4     K0E 1X0
5     KOE 1X0
6     K0E 1XO
7     KoE 1Xo

In [156]:
df['postalCodes'] = df.postalCodes.str.lower().str.replace(' ','')

df

  postalCodes
0      k0e1x0
1      koe1x0
2      k0e1xo
3      koe1xo
4      k0e1x0
5      koe1x0
6      k0e1xo
7      koe1xo

In [157]:
df2 = df['postalCodes'].str.extract(r'(?P<let1>\w)(?P<num1>\w)(?P<let2>\w)(?P<num2>\w)(?P<let3>\w)(?P<num3>\w)')
print(df2.dtypes)
df2

let1    object
num1    object
let2    object
num2    object
let3    object
num3    object
dtype: object

  let1 num1 let2 num2 let3 num3
0    k    0    e    1    x    0
1    k    o    e    1    x    0
2    k    0    e    1    x    o
3    k    o    e    1    x    o
4    k    0    e    1    x    0
5    k    o    e    1    x    0
6    k    0    e    1    x    o
7    k    o    e    1    x    o

In [158]:
df = pd.concat([df, df2], axis=1)
print(df.dtypes)
df

postalCodes    object
let1           object
num1           object
let2           object
num2           object
let3           object
num3           object
dtype: object

  postalCodes let1 num1 let2 num2 let3 num3
0      k0e1x0    k    0    e    1    x    0
1      koe1x0    k    o    e    1    x    0
2      k0e1xo    k    0    e    1    x    o
3      koe1xo    k    o    e    1    x    o
4      k0e1x0    k    0    e    1    x    0
5      koe1x0    k    o    e    1    x    0
6      k0e1xo    k    0    e    1    x    o
7      koe1xo    k    o    e    1    x    o

In [160]:
letters = df[['let1', 'let2', 'let3']]
numbers = df[['num1', 'num2', 'num3']]
# print(letters)
# print(numbers)

  let1 let2 let3
0    k    e    x
1    k    e    x
2    k    e    x
3    k    e    x
4    k    e    x
5    k    e    x
6    k    e    x
7    k    e    x
  num1 num2 num3
0    0    1    0
1    o    1    0
2    0    1    o
3    o    1    o
4    0    1    0
5    o    1    0
6    0    1    o
7    o    1    o

In [194]:
for (columnName, columnData) in letters.iteritems():
    print('Column Name : ', columnName)
    print('Is Letter : ', columnData.str.isalpha())

Column Name :  let1
Is Letter :  0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
Name: let1, dtype: bool
Column Name :  let2
Is Letter :  0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
Name: let2, dtype: bool
Column Name :  let3
Is Letter :  0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
Name: let3, dtype: bool

In [187]:
for (columnName, columnData) in numbers.iteritems():
    print('Column Name : ', columnName)
    print('Is Number : ', columnData.str.isnumeric())

Column Name :  num1
Is Numer :  0     True
1    False
2     True
3    False
4     True
5    False
6     True
7    False
Name: num1, dtype: bool
Column Name :  num2
Is Numer :  0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
Name: num2, dtype: bool
Column Name :  num3
Is Numer :  0     True
1     True
2    False
3    False
4     True
5     True
6    False
7    False
Name: num3, dtype: bool

In [162]:
columnKeys = ["Let1","Num1","Let2","Num2","Let3","Num3"]

In [163]:
df['cleaned'] = df[df.columns[1:7]].apply(''.join, axis=1)
df['cleaned'] = df.cleaned.str.upper()
df

  postalCodes let1 num1 let2 num2 let3 num3 cleaned
0      k0e1x0    k    0    e    1    x    0  K0E1X0
1      koe1x0    k    o    e    1    x    0  KOE1X0
2      k0e1xo    k    0    e    1    x    o  K0E1XO
3      koe1xo    k    o    e    1    x    o  KOE1XO
4      k0e1x0    k    0    e    1    x    0  K0E1X0
5      koe1x0    k    o    e    1    x    0  KOE1X0
6      k0e1xo    k    0    e    1    x    o  K0E1XO
7      koe1xo    k    o    e    1    x    o  KOE1XO