In [58]:
import re
import pandas as pd

In [59]:
file = input("Enter your relative filepath : ")

In [74]:
df = pd.read_csv(file)
print(df.dtypes)
df

postalCodes    object
dtype: object

  postalCodes
0     K0E1X0
1      KOE1X0
2      K0E1XO
3     KoE1Xo
4     K0E 1X0
5     KOE 1X0
6     K0E 1XO
7     KoE 1Xo
8     w0e 1xo

In [75]:
for code in df['postalCodes']:
    print(len(code))

7
7
6
7
7
7
7
7
7

In [76]:
first_letter = 'abceghjklmnprstvxy'
valid_letters = 'abceghjklmnprstvwxyz'
valid_nums = '0123456789'
alphPlace = [0,2,4]
numPlace = [1,3,5]
# print(len(first_letter))
# print(len(valid_letters))

In [77]:
df['postalCodes'] = df.postalCodes.str.lower().str.replace(' ','')
df

  postalCodes
0      k0e1x0
1      koe1x0
2      k0e1xo
3      koe1xo
4      k0e1x0
5      koe1x0
6      k0e1xo
7      koe1xo
8      w0e1xo

In [78]:
for code in df['postalCodes']:
    print(len(code))

6
6
6
6
6
6
6
6
6

In [81]:
# for code in df['postalCodes']:
#     # print(len(code))
#     if (len(code) != 6):
#         print("Invalid postal Code")
#     if (not code[0].isalpha()):
#         print("First of the letter characters is not valid letter")
#     if (code[0] == "w" or code[0] == "z"):
#         print("first letter cannot start with w or z")
#     if (not code[1] in "0123456789"):
#         print("First of the numbers is not a valid number")
#     if (not code[2].isalpha()):
#         print("Second of the letter characters is not valid letter")
#     if (not code[3] in "0123456789"):
#         print("Second of the numbers is not a valid number")
#     if (not code[4].isalpha()):
#         print("Third of the letter characters is not valid letter")
#     if (not code[5] in "0123456789"):
#         print("Third of the numbers is not a valid number")

First of the numbers is not a valid number
Third of the numbers is not a valid number
First of the numbers is not a valid number
Third of the numbers is not a valid number
First of the numbers is not a valid number
Third of the numbers is not a valid number
First of the numbers is not a valid number
Third of the numbers is not a valid number
first letter cannot start with w or z
Third of the numbers is not a valid number

In [65]:
# df2 = df['postalCodes'].str.extract(r'(?P<let1>\w)(?P<num1>\w)(?P<let2>\w)(?P<num2>\w)(?P<let3>\w)(?P<num3>\w)')
# print(df2.dtypes)
# df2

In [66]:
# df = pd.concat([df, df2], axis=1)
# print(df.dtypes)
# df

In [67]:
# letters = df[['let1', 'let2', 'let3']]
# numbers = df[['num1', 'num2', 'num3']]
# # print(letters)
# # print(numbers)

In [68]:
# for (columnName, columnData) in letters.iteritems():
#     print('Column Name : ', columnName)
#     print('Is Letter : ', columnData.str.isalpha())

In [69]:
# for (columnName, columnData) in numbers.iteritems():
#     print('Column Name : ', columnName)
#     print('Is Number : ', columnData.str.isnumeric())

In [70]:
# columnKeys = ["Let1","Num1","Let2","Num2","Let3","Num3"]

In [71]:
# df['cleaned'] = df[df.columns[1:7]].apply(''.join, axis=1)
# df['cleaned'] = df.cleaned.str.upper()
# df