In [94]:
import re
import pandas as pd

In [95]:
file = input("Enter your relative filepath : ")
columnName = input("Enter the exact name of the column which contains postal codes : ")

In [96]:
df = pd.read_csv(file)

In [97]:
first_letter = 'abceghjklmnprstvxy'
valid_letters = 'abceghjklmnprstvwxyz'
valid_nums = '0123456789'
alphPlace = [0,2,4]
numPlace = [1,3,5]

In [98]:
df[columnName] = df[columnName].str.lower().str.replace(' ','')
df

  postalCodes
0      k0e1x0
1      koe1x0
2      k0e1xo
3      koe1xo
4      k0e1x0
5      koe1x0
6      k0e1xo
7      koe1xo
8      w0e1xo
9      k0e1o0

In [99]:
cleanedCode = []
invalidCode = []
for row in df.index: #loop through rows of the data and assign postal codes to list
    code = df.loc[row, columnName]
    if (len(code) != 6):
        cleanedCode.append("")
        invalidCode.append("Invalid length")
    elif (not code[5] in valid_nums):
        if (code[5] == "o"):
            code = code[:5] + "0"
            cleanedCode.append(code)
            invalidCode.append("Second character must be number")
    elif (not code[4] in valid_letters):
        cleanedCode.append("")
        invalidCode.append("Fifth character must be a valid letter")
    elif (not code[3] in valid_nums):
        cleanedCode.append("")
        invalidCode.append("Fourth character must be number")
    elif (not code[2] in valid_letters):
        cleanedCode.append("")
        invalidCode.append("Third character must be a valid letter")
    elif (not code[1] in valid_nums):
        if (code[1] == "o"):
            code = code[:1] + "0" + code[2:]
            cleanedCode.append(code)
            invalidCode.append("Second character must be number")
    elif (not code[0] in valid_letters):
        cleanedCode.append("")
        invalidCode.append("First character must be a valid letter") 
    elif (not code[0] in first_letter):
        cleanedCode.append("")
        invalidCode.append("Code cannot begin with 'w' or 'z'")
    else:        
        cleanedCode.append(code)
        invalidCode.append("")

df['cleanPostalCodes'] = cleanedCode
df['cleanPostalCodes'] = df['cleanPostalCodes'].str.upper()
df['invalidCodes'] = invalidCode
df

  postalCodes cleanPostalCodes                            invalidCodes
0      k0e1x0           K0E1X0
1      koe1x0           K0E1X0         Second character must be number
2      k0e1xo           K0E1X0         Second character must be number
3      koe1xo           KOE1X0         Second character must be number
4      k0e1x0           K0E1X0
5      koe1x0           K0E1X0         Second character must be number
6      k0e1xo           K0E1X0         Second character must be number
7      koe1xo           KOE1X0         Second character must be number
8      w0e1xo           W0E1X0         Second character must be number
9      k0e1o0                   Fifth character must be a valid letter