In [62]:
import re
import pandas as pd

In [63]:
file = input("Enter your relative filepath : ")

In [104]:
df = pd.read_csv(file)
print(df.dtypes)
df

postalCodes    object
dtype: object

  postalCodes
0      K0E1X0
1      KOE1X0
2      K0E1XO
3      KoE1Xo

In [105]:
df['postalCodes'] = df.postalCodes.str.lower()

In [106]:
df2 = df['postalCodes'].str.extract(r'(?P<let1>\w)(?P<Num1>\w)(?P<Let2>\w)(?P<Num2>\w)(?P<Let3>\w)(?P<Num3>\w)')
print(df2.dtypes)
df2

let1    object
Num1    object
Let2    object
Num2    object
Let3    object
Num3    object
dtype: object

  let1 Num1 Let2 Num2 Let3 Num3
0    k    0    e    1    x    0
1    k    o    e    1    x    0
2    k    0    e    1    x    o
3    k    o    e    1    x    o

In [107]:
df = pd.concat([df, df2], axis=1)
print(df.dtypes)
df

postalCodes    object
let1           object
Num1           object
Let2           object
Num2           object
Let3           object
Num3           object
dtype: object

  postalCodes let1 Num1 Let2 Num2 Let3 Num3
0      k0e1x0    k    0    e    1    x    0
1      koe1x0    k    o    e    1    x    0
2      k0e1xo    k    0    e    1    x    o
3      koe1xo    k    o    e    1    x    o

In [108]:
columnKeys = ["Let1","Num1","Let2","Num2","Let3","Num3"]

In [110]:
df['cleaned'] = df[df.columns[1:7]].apply(''.join, axis=1)
df['cleaned'] = df.cleaned.str.upper()
df

  postalCodes let1 Num1 Let2 Num2 Let3 Num3 cleaned
0      k0e1x0    k    0    e    1    x    0  K0E1X0
1      koe1x0    k    o    e    1    x    0  KOE1X0
2      k0e1xo    k    0    e    1    x    o  K0E1XO
3      koe1xo    k    o    e    1    x    o  KOE1XO